body{
  background: -o-linear-gradient(top, #131313, #cb60b3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #131313, #cb60b3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #131313, #cb60b3); /* Standard syntax */
  background: -webkit-linear-gradient(top, #131313, #cb60b3); /* For Safari 5.1 to 6.0 */
  background-repeat: no repeat;
  background-attachment: fixed;
  text-align: center;
}
#banner{
  text-align: center;
  padding-top: 15px;
}
.homebutton{
  position: relative;
  top: 50px;
  display: inline-block;
}
.homebutton:hover{
  -webkit-filter: invert(100%);
}
#slides{
  width:800px;
  height:450px;
  margin:30px auto;
  background-repeat:no-repeat;
  background-position:center;
  padding-top: 100px;
}
